<<<<<<< HEAD
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  position: relative;
}

nav ul {
  list-style: none;
  overflow: hidden;
  background-color: #f2f2f2;
}

nav ul li {
  font-size: 1.5em;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  padding: 20px;
}

nav ul a:nth-child(1) {
  float: left;
}

nav ul a:nth-child(n+2) {
  float: right;
}

nav ul li:hover {
  background-color: #cccccc;
}

@media (max-width: 600px) {
  nav li {
    margin: unset !important;
    text-align: center;
    padding: 10px 0;
  }
  nav a {
    float: unset !important;
  }
  nav ul {
    overflow: unset !important;
  }
}

#index-text {
  color: black;
  text-align: center;
  margin-top: 60px;
  font-size: 4rem;
}

form {
  margin: 10px auto 0 auto;
  max-width: 600px;
  width: 100%;
  padding: 0 20px;
}

form input {
  width: 100%;
  outline: none;
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px 10px 10px 5px;
}

form button {
  margin-top: 10px;
  padding: 10px 20px;
}

/*Remove Default Form Styling*/
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
  width: 100%;
}

#footer p {
  text-align: center;
  font-size: 1.5rem;
  padding: 30px 0;
}

@media (max-height: 800px) {
  #footer {
    position: static;
    margin-top: 400px;
  }
  #footer p {
    padding: 30px 0 200px 0;
  }
}

.header {
  text-align: center;
  margin-top: 20px;
=======
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

#slogan {
  border: 1px solid;
  background: url("https://images.pexels.com/photos/4340670/pexels-photo-4340670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
.loginContainer {
  display: flex;
  justify-content: center;
}

.table {
  --bs-table-color: var(--bs-body-color);
  --bs-table-bg: transparent;
  --bs-table-border-color: var(--bs-border-color);
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--bs-body-color);
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: var(--bs-body-color);
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: var(--bs-body-color);
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: var(--bs-table-color);
  vertical-align: top;
  border-color: var(--bs-table-border-color);
}

p {
  color: #320b6c;
  margin-top: 50px;
}

.principal {
  background: url("https://images.pexels.com/photos/2325446/pexels-photo-2325446.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  object-fit: cover;
  height: 600px;
  margin-top: 90px;
}

.main_img1 {
  background: url("https://images.pexels.com/photos/3889843/pexels-photo-3889843.jpeg?auto=compress&cs=tinysrgb&w=800");
  object-fit: cover;
  height: 700px;
  width: 700px;
  border-radius: 5px;

  background-position: center top;
}

.main_img2 {
  background: url("https://images.pexels.com/photos/2178175/pexels-photo-2178175.jpeg?auto=compress&cs=tinysrgb&w=800");
  object-fit: cover;
  height: 700px;
  width: 700px;
  border-radius: 5px;
  background-position: center -21rem;
}

.prueba {
  margin: 20px;
}
.lead {
  margin-top: 150px;
}
.h1edits {
  text-align: center;
  margin-top: 15%;
}
#clientBody,
#travelBody {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.footer-clientDash,
.footer-travelDash,
.footer-travelDashForm {
  position: absolute;
  bottom: 0;
}
.active_menu {
  font-weight: bold;
>>>>>>> main
}

.form-message {
  margin: 20px auto 0 auto;
  border-radius: 10px;
  text-transform: capitalize;
  max-width: 560px;
  width: 90%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-message p {
  text-align: center;
  font-size: 1.6rem;
}

.form-message-red {
  background-color: #ffb3b3;
  border: 2px solid #ff0000;
}

.form-message-green {
  background-color: lightgreen;
  border: 2px solid green;
}

.form-sub-msg {
  margin: 20px auto 0 auto;
  width: 90%;
  max-width: 560px;
  color: #00334d;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}
/*# sourceMappingURL=style.css.map */